<!DOCTYPE html>
<html>

<div class="container">
	{% if entries %}
		<p>
			<strong>Instructions: </strong> <br>
			Does the description in the second row seem like one of the reasonable functions for the entity in row 1? If you don't know the entity, row 3 is the definition that might help your judgement. <br>
			By default, judgment forms are populated with "idk". You need to change this like this: <br>
			If reasonable, type <strong>r</strong>. If unreasonable, type <strong>u</strong>. If you're not sure or you don't know, type <strong>ns</strong>. <br>

			If you feel the given function is reasonable but it's not at all how you would phrase or describe the function, then please provide your own description/phrasing of the function in the comment box. <br>

			You can also use to comment box to suggest a function for the unreasonable cases. <br>
			If you're unsure, comment on what makes you unsure. 
			<!-- If you feel it's reasonable but that's not how you put it, then make a comment in the comment box. -->
		</p>
		<p>
			<strong>Warning:</strong> <br>
			The functions are automatically extracted from an ontology. Expect to see some not everyday English. 
		</p>


		<table border="1">
			<form method="POST" action="">
				{% csrf_token %}
				{{ formset.management_form }}
				{% for form in formset %}
				{% with counter=forloop.counter0 %}
					{% for obj in object %}
					{% if forloop.counter0 == counter %}
						{% for i in obj %}
							{% if forloop.counter0 == 0 %}
								<tr>
									<td>Entity: </td>
									<td>{{i}}</td>
								</tr>
							{% elif forloop.counter0 == 1 %}
								<tr>
									<td>Function: </td>
									<td>{{i}}</td>
								</tr>
							{% else %}
								<tr>
									<td>Definition: </td>
									<td>{{i}}</td>
								</tr>
							{% endif %}
						{% endfor %}
						<tr>
							<td>{{form}}</td>
						</tr>
						<tr bgcolor="green"><td></td><td></td></tr>
					{% endif %}
					{% endfor %}
				{% endwith %}
				{% endfor %}
				<input type="submit" value="Submit Annotation">				
			</form>			
		</table>
	{% endif %}
</div>

</html>